<ul class="right-nav">
    <li  ng-click="list()" ng-class="  {'current-color':menuClass=='listMenu'}" ui-sref=".list[12]">
        <a href="javascript:void(0)" >
            <i class="list-icon">
                <svg role="img">
                    <use xlink:href="#list"></use>
                </svg>
            </i>
            列表
        </a>
    </li>
    <li  ng-click="edit()" ng-class="{'see':menuClass!='editMenu','seeParent':editId,'current-color':menuClass=='editMenu'}" >
        <a href="javascript:void(0)"><i class="list-icon">
            <svg role="img">
                <use xlink:href="#edit"></use>
            </svg>
        </i>编辑</a>
    </li>
</ul>