.achievements {
  width: 1000px;
  height: 1000px;
}

.archives {
  width: 1000px;
  height: 1000px;
}

.awards {
  width: 1000px;
  height: 1000px;
}

.balance {
  width: 1000px;
  height: 1000px;
}

.bonus {
  width: 1000px;
  height: 1000px;
}

.budget {
  width: 1000px;
  height: 1000px;
}

.bussiness {
  width: 1000px;
  height: 1000px;
}

.capital {
  width: 1000px;
  height: 1000px;
}

.commission {
  width: 1024px;
  height: 1024px;
}

.contract {
  width: 1000px;
  height: 1000px;
}

.finance {
  width: 1000px;
  height: 1000px;
}

.force {
  width: 1000px;
  height: 1000px;
}

.house {
  width: 1000px;
  height: 1000px;
}

.index {
  width: 1000px;
  height: 1000px;
}

.know {
  width: 1000px;
  height: 1000px;
}

.material {
  width: 1000px;
  height: 1000px;
}

.message {
  width: 1000px;
  height: 1000px;
}

.message2 {
  width: 1000px;
  height: 1000px;
}

.notice {
  width: 1000px;
  height: 1000px;
}

.other {
  width: 1000px;
  height: 1000px;
}

.query {
  width: 1000px;
  height: 1000px;
}

.salary {
  width: 1000px;
  height: 1000px;
}

.search {
  width: 1000px;
  height: 1000px;
}

.selfperson {
  width: 1000px;
  height: 1000px;
}

.setting {
  width: 1000px;
  height: 1000px;
}

.traffic {
  width: 1000px;
  height: 1000px;
}

.turnover {
  width: 1000px;
  height: 1000px;
}

.vacancy {
  width: 1000px;
  height: 1000px;
}

.welfare {
  width: 1000px;
  height: 1000px;
}

.add {
  width: 1000px;
  height: 1000px;
}

.audit {
  width: 1000px;
  height: 1000px;
}

.close {
  width: 1000px;
  height: 1000px;
}

.complete {
  width: 1000px;
  height: 1000px;
}

.delete {
  width: 1000px;
  height: 1000px;
}

.dui {
  width: 1000px;
  height: 1000px;
}

.edit {
  width: 1000px;
  height: 1000px;
}

.export {
  width: 1000px;
  height: 1000px;
}

.import {
  width: 1000px;
  height: 1000px;
}

.inputdown {
  width: 1024px;
  height: 1024px;
}

.list {
  width: 1000px;
  height: 1000px;
}

.process {
  width: 1000px;
  height: 1000px;
}

.return {
  width: 1000px;
  height: 1000px;
}

.search2 {
  width: 1000px;
  height: 1000px;
}

.speed {
  width: 1000px;
  height: 1000px;
}

.summary {
  width: 1000px;
  height: 1000px;
}

.suregou {
  width: 1000px;
  height: 1000px;
}

.time {
  width: 1000px;
  height: 1000px;
}

.transfer {
  width: 1000px;
  height: 1000px;
}

.upload {
  width: 1000px;
  height: 1000px;
}

.add {
  width: 1000px;
  height: 1000px;
}

.balance {
  width: 1000px;
  height: 1000px;
}

.collect {
  width: 1000px;
  height: 1000px;
}

.delete {
  width: 1000px;
  height: 1000px;
}

.edit {
  width: 1000px;
  height: 1000px;
}

.list {
  width: 1000px;
  height: 1000px;
}

.search2 {
  width: 1000px;
  height: 1000px;
}

.turnover {
  width: 1000px;
  height: 1000px;
}

.vacancy {
  width: 1000px;
  height: 1000px;
}

