<ul class="list">
    <li>
        <a href="javascript:void(0)">
            <i class="list-icon">
                <svg role="img" class="selfperson">
                    <use xlink:href="#selfperson"></use>
                </svg>
            </i>
            <i class="list-text">个人中心</i>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)">
            <i class="list-icon">
                <svg role="img" class="index">
                    <use xlink:href="#index"></use>
                </svg>
            </i>
            <i class="list-text">系统首页</i>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)"  ng-click="notices()" class="inactive {{ notice?'inactives':''}}">
            <i class="list-icon">
                <svg role="img" class="notice">
                    <use xlink:href="#notice"></use>
                </svg>
            </i>
            <i class="list-text">公告通知</i>
        </a>
        <ul class="inactive-line line-message" ng-show="notice">
            <li><a>个人消息<i class="unread"></i></a></li>
            <li><a>活动公告<i class="unread"></i></a></li>
            <li><a>综合资源部<i class="unread"></i></a></li>
            <li><a>运营商务部<i class="unread"></i></a></li>
            <li><a>研发部公告<i class="unread"></i></a></li>
            <li><a>请假公告<i class="unread"></i></a></li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0)"  ng-click="knows()" class="inactive {{know?'inactives':''}}">
            <i class="list-icon">
                <svg role="img" class="know">
                    <use xlink:href="#know"></use>
                </svg>
            </i>
            <i class="list-text">知此知彼</i>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" ng-click="archives()" class="inactive {{archive?'inactives':''}}">
            <i class="list-icon">
                <svg role="img" class="archives">
                    <use xlink:href="#archives"></use>
                </svg>
            </i>
            <i class="list-text">档案库</i>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)"  ng-click="material()"  class="inactive {{storage?'inactives':''}}">
            <i class="list-icon">
                <svg role="img" class="archives">
                    <use xlink:href="#archives"></use>
                </svg>
            </i>
            <i class="list-text ">物资管理</i>
        </a>
        <ul  class="inactive-line line-message " ng-show="storage">
            <li ng-repeat="list in showsList">
                <a href="javascript:void(0)"  ng-click="toggle()"  class="inactive {{visible?'inactives':'active'}}">{{list.item}}</a>
                <ul class="list-children"   ng-repeat="menuInfo in list.menuList" ng-show="visible">
                    <li ng-click="navClass(menuInfo.msg)"  ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.material.mater.list[12]">
                        <a href="#">{{menuInfo.name1}}</a>
                    </li>
                    <li ng-click="navClass(menuInfo.msg) " ng-class="{'active':navCla==menuInfo.msg}"  ui-sref="_root.material.warn.list[12]">
                        <a href="#">{{menuInfo.name2}}</a>
                    </li>
                </ul>
            </li>
            <li ng-repeat="list in showsList1">
                <a href="javascript:void(0)" ng-click="toggle1()"  class="inactive {{visible1?'inactives':'active'}}">{{list.item}}</a>
                <ul class="list-children"   ng-repeat="menuInfo in list.menuList" ng-show="visible1">
                    <li ng-click="navClass(menuInfo.msg)"  ng-class="{'active':navCla==menuInfo.msg}" ui-sref="_root.material.setting.list[12]">
                        <a href="#">{{menuInfo.name1}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
